@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  background-color: #020207;
  width: 100%;
  height: 100%;
  color: #d3d8d5;
}

a {
  text-decoration: none;
}

.App {
  padding: 5rem 4rem;
  max-width: 400px;
  margin: 2rem auto;
  /* border: 1px solid #9e6c45; */
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1rem #1f48a7;
}

.welcome {
  margin-top: 7rem;
}

.welcome__img {
  display: block;
  margin: 0 auto;
}

.welcome-text {
  text-align: center;
  /* background: red; */
  /* padding: */
}

.welcome-text__heading {
  line-height: 1.1;
  margin: 2rem 0;
}

.cta {
  display: block;
  width: 100%;
  margin-top: 5rem;
  padding: 1.5rem;
  background-color: #57c4ff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #d3d8d5;
  font-weight: 600;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: red; */
}

.lightmode {
}

.location {
  /* align-self: center; */
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  color: #9e6c45;
}

.location__icon {
  /* align-self: center;/ */
}

.darkmode {
}

.heading {
  margin-top: 2.5rem;
}

.weather-icon {
  margin: 6rem auto 0;
  width: 15rem;
  /* background: red; */
}

.weather-details {
  text-align: center;
  margin-top: 1rem;
  align-self: center;
  /* background: red; */
}

.weather__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.weather-temp {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.weather-temp__number {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
}

.weather-temp__degree {
  color: #57c4ff;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  left: -0.5rem;
}

.info-add {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.wind-container {
  align-self: center;
  /* background: blue; */
}

.form {
  color: white;
  background: #1f48a7;
  opacity: 0.9;
  display: flex;
  min-height: 5rem;
  margin-top: 2rem;
  border-radius: 0.2rem;
  font-size: 1.6rem;
}

.form__input {
  width: 100%;
  background: #1f48a7;
  opacity: 0.9;
  outline: 0;
  border: 0;
  padding-left: 3rem;
  color: #fff;
  font-size: 1.6rem;
}

.form__input::placeholder {
  font-size: 1.6rem;
  color: #d3d8d5;
}

.form__input::-ms-value {
  color: white;
}

.search-icon {
  font-size: 3rem;
  background: #1f48a7;
  opacity: 0.9;
  height: 100%;
  border: 0;
  cursor: pointer;
  align-self: center;
}
